* {
    box-sizing: border-box;

}

body {
    background-color: #F8EFEB;
    text-transform: lowercase;
    font-family: 'Source Code Pro', monospace;
    list-style-type: none;
}

.mainbody {
    width: auto;
    background-color: white;
    box-shadow: 10px 10px 25px lightslategray;
    margin-left: 30px;
    margin-right: 30px;
    
}

.mainbody a {
    color: black;
   

}


ul {
    font-family: 'Source Code Pro', monospace;
    list-style-type: none;
    display: block;
    padding-left: 0;
    line-height: 2;
    text-align: center;

}

h1 {
    text-align: center;
    font-family: 'Source Code Pro', monospace;
    margin: 20px;
    
}

h2 {
    text-align: center;
    font-family: 'Source Code Pro', monospace;
    margin: 20px;
}

#funnygif img {
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    width: 300px;
    display: block;
  

}

#social a {
    color: black;
    text-align: center;
    display: block;
}